[user]
	name = resessh
	email = info@resessh.net

[color]
      ui = true
      status = auto
      diff = auto
      branch = auto
      grep = auto

[color "status"]
     added = yellow
     changed = green

[color "diff"]
     meta = yellow bold
     frag = magenta bold
     old = red bold
     new = green bold
     whitespace = red reverse

[color "branch"]
     current = yellow reverse
     local = yellow
     remote = green

[core]
	excludesfile = /Users/xuesuli/.gitignore_global
      autocrlf = input            # CRLFを自動変換
      editor = vim

[rebase]
      autosquash = true

[alias]
      st = status
      ft = fetch
      c = commit
      co = checkout
      ls = ls-files
      lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
      lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
      lg = !"git lg1"
      fx = commit --fixup 
	showpr = "!f() { git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1; }; f"
	openpr = "!f() { hub browse -- `git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1 | cut -f5 -d' ' | sed -e 's%#%pull/%'`; }; f"

[difftool "sourcetree"]
      cmd = opendiff \"$LOCAL\" \"$REMOTE\"
      path =

[mergetool "sourcetree"]
      cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
      trustExitCode = true
[push]
	default = simple

[ghq]
      root = ~/src
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
